NODE_ENV=development
PORT=3000
DATABASE=mongodb+srv://username:password@cluster.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
DATABASE_PASSWORD=yourpassword
JWT_SECRET=yourjwtsecret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES=60
SESSION_SECRET=yoursessionsecret
