<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>">


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles.css" />
    <script src="dist/main.bundle.js" defer></script>
    <script src="dist/login.bundle.js" defer></script>

    <title>NAMO</title>
  </head>
  <body>
    <div class="overlay"></div>
    <header class="header nav-open">
      <a href="/">
        <img class="logo" src="img/NAMO.png" alt="NAMO logo" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link underline" href="/">Home</a>
          </li>
          <li><a class="main-nav-link underline" href="#meals">About Us</a></li>
          <li>
            <a class="main-nav-link underline" href="#blog">Blog</a>
          </li>
          <li>
            <a class="main-nav-link" data-action="toggle-cart"
              ><i class="fa-solid fa-cart-shopping"></i>
              <span class="cart-number"></span>
            </a>
          </li>
          <li>
            <a id="account-icon" class="main-nav-link" href="/login"
              ><ion-icon name="person" class="profile-icon"></ion-icon
            ></a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <!-- LOGIN SECTION -->
      <section class="section-login">
        <div class="login-container">
          <form class="form" action="/api/v1/users/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="login-text-box">
              <h2 class="heading-secondary-log">Login</h2>
              <p class="login-text">Log in with your social media</p>
              <div class="social-media-container">
                <a href="#" class="social-media--btn">
                  <i class="fa-brands fa-google fa-xl"></i>
                </a>
                <a href="#" class="social-media--btn">
                  <i class="fa-brands fa-facebook-f fa-xl"></i>
                </a>
                <a href="#" class="social-media--btn">
                  <i class="fa-brands fa-linkedin-in fa-xl"></i>
                </a>
              </div>
              <p class="login-text">or</p>
              <div class="login-form">
                <div>
                  <label for="email">Email</label>
                  <input
                    id="email"
                    type="email"
                    placeholder="Enter email address"
                    name="email"
                    required
                  />
                </div>
                <div>
                  <label for="password">Password</label>
                  <input
                    id="password"
                    type="password"
                    placeholder="Enter your password"
                    name="password"
                    required
                  />
                </div>
              </div>
              <a class="login-forgot--btn">Forgot your password?</a>
              <button type="submit" class="sign-in--btn">Sign in</button>
              <div>
                <p class="new-customer-txt">
                  New customer?<a class="create-account--btn"
                    >Create an account</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
      </section>

      <!-- CART SECTION -->
      <div class="cart-tab">
        <div class="cart-top-container">
          <div class="cart-drawer-header">
            <h1 class="cart-heading">CART</h1>
            <span class="cart-item-count"></span>
          </div>
          <div class="cart-close-container">
            <button class="close-button">
              <ion-icon class="cart-close-icon" name="close-outline"></ion-icon>
            </button>
          </div>
        </div>

        <div class="list-cart">
          <!-- ITEM 1 -->
          <template id="cart-item-template">
            <div class="item">
              <div class="cart-item--img">
                <img
                  src="img/NAMO - front.jpg"
                  class="step-img"
                  alt="Namo ointment jar"
                />
              </div>
              <div class="cart-item--info">
                <div class="cart-item--details">
                  <span class="cart-item--header">Namo Herbal Ointment</span>
                  <div class="cart-item--size">Size - 60ml | 2.03 oz</div>
                  <div class="cart-item--trash">
                    <ion-icon
                      class="cart-trash--icon"
                      name="trash-outline"
                    ></ion-icon>
                  </div>
                </div>
                <div class="cart-item--cost">
                  <div class="cart-item--total">
                    <button
                      class="cart-item--quantity minus"
                      name="minus"
                      data-action="minus"
                    >
                      <ion-icon
                        class="icon-minus"
                        name="remove-outline"
                      ></ion-icon>
                    </button>
                    <input
                      class="cart-item--input"
                      type="number"
                      min="1"
                      step="1"
                      value="1"
                    />
                    <button
                      class="cart-item--quantity plus"
                      name="plus"
                      data-action="plus"
                    >
                      <ion-icon class="icon-plus" name="add-outline"></ion-icon>
                    </button>
                  </div>
                  <div class="cart-item--price"></div>
                </div>
              </div>
            </div>
          </template>
        </div>

        <div class="subtotal-container">
          <h3 class="subtotal-heading">Total</h3>
          <div class="subtotal-price"></div>
        </div>

        <div class="cart-main-buttons grid--2-cols">
          <button class="btn--go-to-cart">Go to cart</button>
          <button class="btn--check-out">Ceck out</button>
        </div>
      </div>

      <!-- FOOTER SECTION -->
      <footer class="footer">
        <div class="container grid grid--footer">
          <div class="logo-col">
            <a href="#" class="footer-logo">
              <img class="logo" src="img/NAMO.png" alt="Omnifood logo" />
            </a>

            <ul class="social-links">
              <li>
                <a class="footer-link" href="#">
                  <ion-icon
                    class="social-icon"
                    name="logo-instagram"
                  ></ion-icon>
                </a>
              </li>
              <li>
                <a class="footer-link" href="#">
                  <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li>
                <a class="footer-link" href="#">
                  <ion-icon class="social-icon" name="logo-twitter"></ion-icon>
                </a>
              </li>
            </ul>

            <p class="copyright">
              Copyright &copy; <span class="year">2024</span> by NAMO, Inc. All
              rights reserved.
            </p>
          </div>
          <div class="address-col">
            <p class="footer-heading">Contact us</p>
            <address class="contacts">
              <p class="address">
                623 Harrison St., 2nd Floor, San Francisco, CA 94107
              </p>
              <p>
                <a class="footer-link" href="tel:415-201-6370">316-301-3690</a
                ><br />
                <a class="footer-link" href="mailto:hello@omnifood.com"
                  >support@namo.com</a
                >
              </p>
            </address>
          </div>
          <nav class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Sign in</a></li>
              <li><a class="footer-link" href="#">Create account</a></li>
              <li><a class="footer-link" href="#">iOS app</a></li>
              <li><a class="footer-link" href="#">Android app</a></li>
            </ul>
          </nav>
          <nav class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">About Namo</a></li>
              <li><a class="footer-link" href="#">For Business</a></li>
              <li><a class="footer-link" href="#">Our partners</a></li>
              <li><a class="footer-link" href="#">Careers</a></li>
            </ul>
          </nav>

          <nav class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Help center</a></li>
              <li><a class="footer-link" href="#">Privacy & terms</a></li>
            </ul>
          </nav>
        </div>
      </footer>
    </main>

    <script
      src="https://kit.fontawesome.com/484f573b46.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
